html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#navmenu {
    display: flex;
    background: #00000f;
    margin: 0;
}

#navmenu li{
    color:#00BBFA;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#navmenu li:first-child {
    margin-right: auto;
}
.section1{
    display: flex;
    height: 100vh;
    background:#00000f;}
h1{
    color: #00BBFA;
}    
.centralize{
    margin: auto;
    text-align: center;
}
.section2{
    display: flex;
    background-color: #0086C1;
    height: 33vh;
    color:#00000f;
}

.section3{
    display: flex;
    background-color: #00000f;
    color: #FF00B7;
    height: 33vh;
}

.projectimg{
    width: 200px;
    height: 200px;
    padding-left: 15px;
}
#img-cl{
    width: 40%;
}
#des-cl{
    width:"60%";
    text-align: left;
}
/* td ul{
    color:#000000;
} */
#contactmenu{
    display: flex;
    background-color: rgb(81, 21, 177);
    margin: 0;
}
#contactmenu li{
    display: block;
    color: darkcyan;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

footer {
    background-color:black;
    padding:30px;
    width: 100%;
    color:#ff00b7;
    clear: both;
    position: absolute;
    margin-top: 0px;
}
.qbutton{
    background-color: #ff00b7;
    border-radius: 5px;
    color: white;
    padding:10px;
    font-family: 'Source Sans Pro', sans-serif;
}